<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="MysqlConect" connectionString="server=localhost;user id=root;password=12345678;persistsecurityinfo=True;port=3308;database=basesistema" providerName="MySql.Data.MySqlClient" />
    <add name="MysqlConectNotBd" connectionString="server=localhost;uid=root;password=12345678;port=3308" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
